.bt21{
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;

    tr{
        padding-top: 15px;

        td{
            padding: 0 20px;
        }
    }
}