.checkout-wrap {

    th {
      padding-left: 0.35rem;
      padding-right: 0.35rem;
    }

    td {
      padding: .75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
    }
  
    .modal-content {
      min-height: 300px;
      min-width: 250px;
      max-width: 80vh;
      max-height: 50vh;
      background-image: url('~@/assets/calendar/Alert.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  
    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 1rem;
      background-color: rgba(0, 0, 0, 0.8);
      border: $secondary 1.5px solid;

      img{
        width: 80px;
      }

      h4 {
        color: #fff;
        font-size: 1.5rem;
        padding: 15px 0;
      }

      p{
        color:rgba(11, 194, 56, 0.883); 
        font-size:1rem;
        padding-bottom: 10px;
      }
    }
  
  }
  