.goTop {
    background-image: url('~@/assets/calendar/goTop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFFFFF;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    opacity: 0.59;
    border-radius: 50%;
    transform: translateX(200%);
    transition: transform .2s;
  
    &.btnFlag {
      transform: translateX(0);
    }
  }