.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  background-image: url("~@/assets/banner/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .form-wrap {
    max-height: 40vh;
    width: 350px;
    min-width: 320px;
    min-height: 620px;
    background-color: #181818;

    @media screen and (max-width: 768px) {
      max-width: 80vw;
      width: 50vw;
    }
  }

  .login-img {
    position: relative;
    background-image: url("~@/assets/banner/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;

    .login-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      background-image: url("~@/assets/calendar/logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transform: translate(-50%, -50%);
      width: 250px;
      height: 75px;
    }
  }

  .login-content {
    padding: 2rem 2rem 2rem 2rem;

    .remember-text {
      color: $secondary;
      font-size: $font-size-base;
    }

    input {
      border-radius: 0;
      border: none;
    }

    button {
      border-radius: 0;
    }
  }
}
