.checkout-wrap {
  th {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
  }

  td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  .modal {
    padding-right: inherit !important;
  }

  .modal-content {
    width: 15vw;
    height: 20vh;
    border-radius: 50%;
    border: inherit;
    background-color: inherit;
    margin: 0 auto;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0;

    img {
      width: 80px;
    }

    h4 {
      color: #fff;
      font-size: 1.5rem;
      padding: 15px 0;
    }

    p {
      color: rgba(11, 194, 56, 0.883);
      font-size: 1rem;
      padding-bottom: 10px;
    }
  }
}
